.dropdown-content {
  cursor: pointer;
}
.dropdown-content .clear-button {
  position: absolute;
  top: 8px;
  right: 10px;
  border: 1px solid #C8C8C8;
  overflow: hidden;
  background: #fff;
  border-radius: 10px;
  padding: 0 5px 0 5px;
  font-size: 12px;
  color: #d43f3a;
}
.dropdown-content .clear-button:hover {
  color: #333;
}
.dropdown-content .dropdown-content-container {
  max-height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
  border: 1px solid #C8C8C8;
  display: none;
  position: absolute;
  z-index: 1001;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0 -15px;
  font-size: 14px;
  text-align: left;
  background-color: #FFF;
  border-radius: 10px;
  background-clip: padding-box;
  width: 100%;
  left: 15px;
}
.dropdown-content .dropdown-content-container.expanded {
  display: block;
}
.dropdown-content .dropdown-content-container a,
.dropdown-content .dropdown-content-container a:hover,
.dropdown-content .dropdown-content-container a:focus,
.dropdown-content .dropdown-content-container a:visited {
  color: inherit;
  text-decoration: none;
}
.dropdown-content .dropdown-content-container .grid-view {
  font-size: 13px;
}
.dropdown-content .dropdown-content-container .grid-view td {
  vertical-align: middle;
}
.dropdown-content .dropdown-content-container .caret {
  border: none;
  position: absolute;
  top: 5px;
  right: 19px;
  font-size: 18px;
  opacity: 0.4;
  cursor: pointer;
}
.dropdown-content .dropdown-content-container .item {
  cursor: pointer;
}
.dropdown-content .dropdown-content-container div.item {
  padding: 4px 0 9px 4px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  border-bottom: medium none white;
  background: white none repeat scroll 0% 0%;
  margin-bottom: -3px;
  vertical-align: bottom;
}
.dropdown-content .dropdown-content-container .item.selected {
  color: #555;
  background-color: #E7E7E7;
}
.dropdown-content .dropdown-content-container .item:hover {
  color: #262626;
  text-decoration: none;
  background-color: #F5F5F5;
}
.dropdown-content.fixed-content .dropdown-content-container {
  max-height: initial;
  overflow-y: hidden;
  overflow-x: hidden;
  position: inherit;
  z-index: 0;
}
.dropdown-content .dropdown-wrapper {
  position: relative;
}
.dropdown-content .dropdown-wrapper input {
  cursor: pointer;
  padding-right: 37px;
}
.dropdown-content .controll-wrapper-border-stub {
  display: none;
  width: 100%;
  height: 10px;
  background: white;
  z-index: 1002;
  margin-top: -10px;
  margin-bottom: -3px;
  position: relative;
  border-width: 0 1px 0 1px;
  border-style: solid;
  border-color: #C8C8C8;
}
.dropdown-content.fixed-content .controll-wrapper-border-stub {
  z-index: 1;
}
.dropdown-content .controll-wrapper {
  position: absolute;
  top: 1px;
  right: 0;
  width: 19px;
  height: 30px;
  cursor: pointer;
}
.dropdown-content .controll-wrapper .clear {
  top: 1px;
  opacity: 0.4;
  position: absolute;
  right: 25px;
  font-size: 18px;
}
.dropdown-content .controll-wrapper .clear:hover {
  opacity: 0.6;
}
.dropdown-content .controll-wrapper .caret {
  opacity: 0.4;
  position: absolute;
  right: 6px;
  font-size: 18px;
  top: 13px;
}
.dropdown-content.allow-focus {
  cursor: none;
}
.dropdown-content.allow-focus .controll-wrapper {
  border-left: 1px solid #CCC;
}
.dropdown-content.active.topped .dropdown-content-container {
  border-top-right-radius: 10px;
  border-top-left-radius: 10px;
}
.dropdown-content.active.topped input.form-control {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}
.dropdown-content.active.topped .controll-wrapper-border-stub {
  top: -38px;
}
.dropdown-content.active .controll-wrapper {
  border-left: none;
}
.dropdown-content.active .controll-wrapper .caret {
  border-top: none;
  border-bottom: 4px dashed;
}
.dropdown-content.active .dropdown-content-container {
  border-color: #66afe9;
}
.dropdown-content.active .controll-wrapper-border-stub {
  border-color: #66afe9;
}
.dropdown-content.active .dropdown-wrapper input,
.dropdown-content.active .dropdown-content-container {
  border-width: 1px 1px 1px 1px;
  border-style: solid;
  border-color: #66afe9;
  -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(102,175,233,0.6);
  box-shadow: inset 0 1px 1px rgba(0,0,0,0.075), 0 0 8px rgba(102,175,233,0.6);
}
.dropdown-content.fixed-content .dropdown-content-container {
  margin-left: 0;
}
.dropdown-content.fixed-content .controll-wrapper-border-stub {
  display: block;
  z-index: auto;
}
.dropdown-content.active .dropdown-wrapper input,
.dropdown-content.fixed-content .dropdown-wrapper input {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
  background: white none repeat scroll 0% 0%;
  margin-bottom: -3px;
  vertical-align: bottom;
  padding-bottom: 13px;
  height: 40px;
}
.dropdown-content.active .controll-wrapper-border-stub,
.dropdown-content.fixed-content .controll-wrapper-border-stub {
  display: block;
}
